<nav id="nav" role="nav">
    <ul id="home-menu" class="list-unstyled">
        {{^is "home"}}
            <li><a href="/">Home</a></li>
        {{/is}}
        <li><a href="/trilaterating-signals">Trilaterating Signals</a></li>
        <li><a href="/image-recognition">Image Recognition</a></li>
        <li><a href="/machine-genetic-learning">Machine Learning</a></li>
    </ul>
</nav>