<nav id="nav" role="nav">
    <ul id="home-menu" class="list-unstyled">
        {{^is "home"}}
            <li><a href="/">Home</a></li>
        {{/is}}
        <li><a href="/services">Services</a></li>
        <li><a href="/learn-mean-stack">Learn MEAN Stack</a></li>
        <li><a href="/fun-stuff">Fun Stuff</a></li>
        <!--{{^is "home"}}
            <li><a href="/work-with-me">Work With Me</a></li>
        {{/is}}-->
    </ul>
</nav>
{{#is "home"}}
    <nav id="nav" role="nav">
        <ul id="home-menu" class="list-unstyled">

            <li><a href="/work-with-me">Work With Me</a></li>

        </ul>
    </nav>
{{/is}}