<section id="social">
    <!--<a target="_blank" href="#"><span class="ion-social-skype"></span></a>-->
    <a target="_blank" href="http://github.com/schematical"><span class="ion-social-github"></span></a>
    <a target="_blank" href="https://www.linkedin.com/pub/matthew-lea/9/288/196"><span class="ion-social-linkedin"></span></a>
    <a target="_blank" href="https://twitter.com/mleaconsulting"><span class="ion-social-twitter"></span></a>
    <a target="_blank" href="https://www.facebook.com/shiporgetoffthepot"><span class="ion-social-facebook"></span></a>
</section>